* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #333;
}

.body {
    height: 100vh;
    border: none;
    font-family: 'mulish', sans-serif;
}

.container {
    height: 100vh;
    width: 600px;
    background-color: #888;
    padding: 10px;
}

.user, .close {
    height: 100px;
    width: 100%;
    background-color: #FFF;
    padding: 10px;
    flex-direction: row;
}

.photo-container, .icon-container {
    width: 70px;
    height: 100%;
}

.photo, .icon {
    background-size: 106%;
    width: 40px;
    height: 56%;
}

.photo {
    background-image: url(../images/user.svg);
}

.icon {
    background-image: url(../images/edit.svg);
}

.name {
    flex-grow: 1;
    height: 100%;
    margin: 0px 10px;
}

.menu {
    width: 100%;
    flex-grow: 1;
    background-color: #FFF;
    margin: 10px 0px;
    padding: 10px;
}

.profile, .contact, .card, .media, .ajustments {
    width: 100%;
    margin: 5px;
    flex-grow: 1;
    align-items: flex-start;
    padding-left: 20px;
    font-size: 18px;
}

.close-sesion {
    font-size: 18px;
    height: 100%;
    width: 350px;
    background-color: #EE6D52;
    color: #FFF;
}